@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
main {
  min-height: 100svh;
  min-height: 100vh;
  letter-spacing: 0.05rem;
}

body {
  background-color: black;
}

div[data-ship] {
  touch-action: none;
}

svg {
  fill: white;
}

.ship {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: #40ffff;
}

.submarine {
  background-color: #40ffff;
}

.vertical-ship {
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  background-color: #40ffff;
}

.missile-drop {
  animation: drop-opponent 1.3s ease-in-out;
  box-shadow: inset 5px 2px 2px gray;
}
.missile-drop-opponent {
  animation: drop-player 1.3s ease-in-out;
  box-shadow: inset 5px 2px 2px #f87171;
}

@keyframes drop-opponent {
  0% {
    width: 100px;
    height: 100px;
    transform: translateX(-200px);

    border-radius: none;
  }
  100% {
    width: 10px;
    height: 10px;

    transform: translateX(0);
  }
}
@keyframes drop-player {
  0% {
    width: 100px;
    height: 100px;
    transform: translateX(200px);
    opacity: 0.5;
    border-radius: none;
  }
  100% {
    width: 10px;
    height: 10px;

    transform: translateX(0);
    opacity: 1;
  }
}
