@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gridular";
  src: url("./assets/Gridular_Regular.woff2");
}

html,
body,
#root,
main {
  min-height: 100lvh;
  min-height: 100vh;
  letter-spacing: 0.05rem;
}

body {
  background-color: black;
  background-image: linear-gradient(
    180deg,
    rgba(168, 144, 59, 1) 2%,
    rgba(0, 0, 0, 1) 45%,
    rgba(37, 60, 73, 1) 85%
  );

  background-image: -webkit-linear-gradient(
    top,
    rgb(150, 134, 70),
    rgba(0, 0, 0, 1),
    rgba(37, 60, 73, 1)
  );
  background-image: -moz-linear-gradient(
    top,
    rgb(150, 134, 70),
    rgba(0, 0, 0, 1),
    rgba(37, 60, 73, 1)
  );
  background-repeat: no-repeat;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

img[data-ship],
div[data-ship],
svg {
  touch-action: none;
}

svg {
  fill: white;
  aspect-ratio: 1 / 1;
}

.ship {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: #40ffff;
}

.submarine {
  background-color: #40ffff;
}

.vertical-ship {
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  background-color: #40ffff;
}

.missile-drop {
  animation: drop-opponent 1.8s ease-out;
  animation-fill-mode: forwards;
}
.missile-drop-opponent {
  animation: drop-player 2s ease-in-out;
}

@keyframes drop-opponent {
  0% {
    opacity: 1;
    transform: scale(3);
    transform: translateY(-200px);
  }
  100% {
    display: none;
    transform: scale(1);
    transform: translateY(0);
  }
}
@keyframes drop-player {
  0% {
    transform: scale(2);
    transform: translateX(200px);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    width: 10px;
    height: 10px;
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }
}

.funky-font {
  font-family: "Gridular";
}

.game-header {
  /* background-image: url("./assets/game-header.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
.game-footer {
  background-image: url("./assets/game-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.save-order {
  background: linear-gradient(180deg, #555555 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(
      142% 142% at 50% -42%,
      #e3e3e3 0%,
      #4f4f4f 41.21%,
      #252525 57.26%,
      #0f0f0f 76.78%,
      #000000 100%
    );
  text-transform: uppercase;
}

.truck-arrive {
  animation: truck-arrive 1.3s ease-in;
}
@keyframes truck-arrive {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.truck-arrive-vertical {
  animation: truck-arrive-v 1.3s ease-in;
}
@keyframes truck-arrive-v {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bombed {
  animation: missile-drop 1s ease-out 1;
}

.bombed-smoke {
  animation: missile-smoke 3s 3s ease-in-out;
  animation-delay: 1s;
}

@keyframes missile-drop {
  0% {
    scale: 0;
  }
  50% {
    scale: 2;
    opacity: 0.8;
  }
  100% {
    scale: 1;
    opacity: 0;
  }
}
@keyframes missile-smoke {
  0% {
    scale: 0;
  }
  100% {
    scale: 2;
  }
}
