@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
main {
  min-height: 100svh;
  min-height: 100vh;
  letter-spacing: 0.05rem;
}

body {
  background-color: black;
}

img[data-ship],
div[data-ship],
svg {
  touch-action: none;
}

svg {
  fill: white;
  aspect-ratio: 1 / 1;
}

.ship {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: #40ffff;
}

.submarine {
  background-color: #40ffff;
}

.vertical-ship {
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  background-color: #40ffff;
}

.missile-drop {
  animation: drop-opponent 1.3s ease-in-out;
  box-shadow: inset 5px 2px 2px gray;
}
.missile-drop-opponent {
  animation: drop-player 1.3s ease-in-out;
  box-shadow: inset 5px 2px 2px #8076b7;
}

@keyframes drop-opponent {
  0% {
    transform: scale(2);
    transform: translateX(-200px);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    width: 10px;
    height: 10px;
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }
}
@keyframes drop-player {
  0% {
    transform: scale(2);
    transform: translateX(200px);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    width: 10px;
    height: 10px;
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }
}
